body {
    margin: 0;
}

.bg-aqua {
    background-color: antiquewhite;
}

.container {
    width: 100%;
}

.mb-5 {
    margin-bottom: 50px;
}

.w-90 {
    width: 90%;
    margin: auto;
}

.d-flex {
    display: flex;
}

/* logo start */
.logo {
    width: 135px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* logo end */
.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.b-radius {
    border-radius: 10px;
    padding: 8px;
}

.btn {
    cursor: pointer;
}

.btn-tarif {
    padding: 2px 16px;
    color: white;
    cursor: pointer;
    background-color: #235453;
    border: 1px solid #235453;
    text-decoration: none;
    font-size: 1.4em;
}


.col {
    width: 32%;
}

.border-5-solid-gold {
    border: 5px solid #235453;
}
.pr-0 {
    padding-left: 0;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-right {
    text-align: right;
}

.mt-2 {
    margin-top: 20px;
}

.mb-1 {
    margin-bottom: 10px;
}

